* {
    margin: 8px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
th {
    background-color: lightgray;
}
.Number_Of_Bits {
    width: 4%;
}
input {
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.568);
    border-radius: 4px;
}

.button {
    cursor: pointer;
    transition-duration: 0.4s;
    border: none;
    padding: 3px;
    border: 1px solid black;
}

.button:hover {
  background-color: rgb(202, 202, 202); 
}

footer span {
    position: absolute;
    bottom: 0;
    right: 0;
}